<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {margin:0;}

body {
margin: 0;
padding: 0;
background-image: ;
background-size: cover;
background-position: center;
font-family: "Times New Roman", Times, serif;
}
.header {
padding: 120px;
text-align: center;
background-image: url("./static/WWHOMEPAGE.jpg");
background-size: 100% 100%;
color: white;
}



/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #001c4d;
  position: -webkit-sticky;
   position: sticky;
  top: 0;
  width: 100%;
  opacity: 0.9;
}

.footerbar {
  overflow: hidden;
  position: -webkit-sticky;
  top: 0;
  width: 100%;

}

.footerbar a {
  float: left;
  display: block;
  color: #0D3C50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Right-aligned link */
.footerbar a.right {
  float: right;
}

.footerbar a:hover {

  color: #FF6701;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
  font-weight: bold;
}


.navbar a:hover {
    color: #Fcab00;
}

.main {
  padding: 16px;
  margin: 30px 50px 150px 50px ;
  height: auto; /* Used in this example to enable scrolling */
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


* {
  box-sizing: border-box;
}
.main t{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color:black;

}
.main p{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color:black;

}

    </style>
</head>
<body>


    <div class="header">
    </div>

    <div class="navbar">
        <a href="http://127.0.0.1:5000">Home</a>
<!--        <a href="http://127.0.0.1:5000/questions">Questions Page</a>-->
<!--        <a href="#facialscan">Facial Scan Page</a>-->
        <a class="right">{{n}}</a>

    </div>

   <div class="main">

        <br>
            <h4>PERSONAL DATA PROTECTION POLICY</h4>
            <t>The ambition of the APPelle webapp is to be a model corporate citizen and to build a better world. Therefore, we attach great importance to the principles of honesty and transparency and are invested in building a strong and lasting relationship with our customers and employees, based on trust and mutual interest. Part of this ambition involves protecting and respecting your privacy as well as your choices. Respecting your privacy is essential for us. This is why we have set out our "Privacy Promise" and our entire Privacy Policy below.</t>
            <h5>OUR PROMISE OF CONFIDENTIALITY</h5>
            <t>We respect your privacy and your options. </t><br>
            <t>We make sure that security and confidentiality are built into everything we do.</t><br>
            <t>We will not send you marketing communications unless you have asked us to. You can change your mind at any time.</t>
            <t>We will not provide or sell your data.</t><br>
            <t>We are committed to keeping your data safe and secure. This includes only working with trusted partners.</t><br>
            <t>We are committed to being open and transparent about how we use your data.</t><br>
            <t>We do not use your data in other ways that have not been stipulated.</t><br>
            <t>We respect your rights and always try to satisfy your requests as efficiently as possible, in accordance with our legal and operational responsibilities.</t><br>
            <br><t>For more information about our privacy practices, we set out below the types of personal data we may receive directly from you or your interactions with us, how we may use them, with whom we may share them, and how we protect them. we keep them safe as well as your rights regarding your personal data. Of course, all situations may not apply to you. This privacy policy gives you an overview of all possible situations in which we may interact together.</t><br>
            <t>The more you interact with us, the more you allow us to get to know you and the more we can offer you personalized services.</t><br>
            <t>When you provide us with personal data or when we collect personal data about you, we will use it in accordance with this policy. Please read this information carefully as well as our Q&A page (if any) carefully. If you have any questions or concerns regarding your personal data, please contact us at dpit@gmail.com.</t><br><br>
            <h5>WHO WE ARE</h5>

            <t>APPelle is a personal-social application and is responsible for the personal data you share with us.</t><br>
            <t>For any questions or concerns regarding this policy or your rights, you may contact the person responsible for personal data protection at the email address: dpitbools@gmail.com.</t><br><br>

            <h5>WHAT ARE PERSONAL DATA?</h5>
            <t>"Personal data" means any information or information that can identify you directly (for example, your name) or indirectly (for example, through pseudonymous data, such as a unique identification number). This means that personal data includes things like email / home address / mobile phone, username, profile pictures, personal preferences and shopping habits, user-generated content, financial information and financial statement information. It may also include unique numeric identifiers, such as the IP address of your computer or the MAC address of your mobile device, as well as cookies.</t><br><br>

            <h5>WHAT KIND OF DATA DO WE COLLECT FROM YOU AND HOW DO WE USE IT?</h5>
            <t>APPelle believes that you, the consumer, are at the center of what we do. We love to hear from you, learn about who you are, and create and deliver products for you to enjoy. And we are aware that many of you enjoy talking to us. Because of this there are many ways to share your personal data with us and we can collect it.</t><br><br>

            <h5>How do we collect or receive your data?</h5>

            <t>We may collect or receive data from you through websites, forms, applications, devices, and in other ways. Sometimes you give us this directly (for example, when you create an account, when you contact us, sometimes we collect them (for example, using cookies to understand how you use our site / applications).</t><br>
            <t>When we collect data, we indicate the required fields with asterisks if such data is required for us:</t><br><br>
            <t>1. To provide you with the service you have requested (for example, to provide you with a newsletter);</t><br>
            <t>2. To comply with legal requirements (eg billing).</t><br><br>

            <t>If you do not provide the data marked with an asterisk, this may affect our ability to provide the products and services.</t><br>
            <t>We will present more details in the table below, explaining:</t><br><br>

            <t>1. During what interaction period can your data be provided or collected? This column explains the activity or situation you are in when we use or collect your data. For example, if you make a purchase, subscribe to a newsletter, or browse a site / application.</t><br>
            <t>2. What personal data do we receive directly from you or what results from your interaction with us? This column explains the types of data we may collect depending on the situation.</t><br>
            <t>3. How and why could we use them? This column explains what we can do with your data and the purpose for which we collect it.</t><br>
            <t>4. What is the legal basis for the use of your personal data? This column explains why we may use your data.</t><br><br>

            <t>Depending on the purpose for which the data is used, the legal basis for processing your data may be:</t><br><br>
            <t>1. Your consent;</t><br>
            <t>2. Our legitimate interest, which could be:</t><br>
                <t>2.1. Improving our products and services: specifically, our business interests to help us better understand your needs and expectations and therefore improve our services, sites / applications / devices, products and brands for the benefit of our consumers .</t><br>
                <t>2.2. Fraud prevention: to ensure that payment is complete and free from fraud.</t><br>
                <t>3. Securing our tools: keeping the tools you use (our sites / applications / devices) safe and making sure they work properly and are constantly improving.</t><br>
            <t>4. Fulfilling a contract: more precisely to perform the services you request from us.</t><br>
            <t>5. Legal reasons why data processing is required by law.</t><br><br>
            <article class="ac-large">
							<div style="overflow-x: scroll;">
							<table border="1" width="100%" cellspacing="0" cellpadding="10">
							<tbody>
							<tr>
							<td colspan="4">
								<t><b>Overview of information about interactions with us and their consequences on your data</b></t>
							</td>
							</tr>
							<tr>
							<td>
							<t><strong><em>

During which interactions can you provide and we can collect your personal data?
</em></strong></t>
							</td>
							<td>
							<t><strong><em>What personal data can we receive from you directly or as a result of your interaction with us?</em></strong></t>
							</td>
							<td>
							<t><strong><em>

How and why could we use your data?
</em></strong></t>
							</td>
							<td>
							<t><strong><em>

What is the legal basis on which we can collect data from you?
</em></strong></t>
							</td>
							</tr>
							<tr>
							<td rowspan="2">
							<t><strong>

Creating and maintaining an Account
The information collected during the creation of an account on APPelle sites / applications, through a login on a social networking site or in the store.

</strong></t>
							</td>
							<td rowspan="2">
							<t>

								Depending on how much you interact with us, this data may include:</t>
								<br><t>· Name and surname;</t><br>
<t>· Gen;</t><br>
<t>· Email Address;</t><br>
<t>· Address;</t><br>
<t>· Phone number;</t><br>
<t>· Photography;</t><br>
<t>· Birthday or age;</t><br>
<t>· ID, username and password;</t><br>
<t>· Personal description or preferences;</t><br>
<t>· The data with which you connect on the sites of
socialization (if you share this personal data with us).</t><br>



							</td>
							<td>
							<t> ·Send you marketing communications (if you have requested it) that can be tailored to your "profile." (ie based on personal data we know about you and your preferences);
								<t>· Management of any contest, promotion, survey or competition in which you choose to participate;</t><br>
								<t>· Answer your questions and interact with you in other ways.</t><br>
								<t>· Offer you a loyalty program;</t><br>
								<t>· Allow you to manage your preferences;</t><br>
								<t>· Provide you with personalized information based on your beauty features;</t><br>



</t>


							</td>
							<td>
							<t> <strong>Consent</strong></t><br>
							<t>
To send you marketing communications directly, or to complete a survey
</t>
							</td>
							</tr>
							<tr>
							<td>
							<t>· Monitoring and improving our websites / applications;</t><br>
								<t>· Execution of analyzes or collection of statistics;</t><br>
								<t>· Secure our websites / applications and protect you from fraud;</t><br>
							</td>
							<td>
							<t>· <strong>Legitimate interest
 </strong></t>
							<t>To ensure that our websites / applications remain secure, to protect them against fraud and to help us better understand your needs and expectations and therefore improve our services, products and brands.</t>
							</td>
							</tr>
							<tr>
							<td rowspan="3">
							<t><strong>

Newsletter and subscription to commercial information


</strong></t>
							</td>
							<td rowspan="3">
							<t>Depending on how much you interact with us, this data may include:</t>
							<t>· Email Address;</t><br>
							<t>· Name and surname;</t><br>
							<t>· Personal description or preferences;
</t><br>
							<t>· The data with which you connect on social networking sites (if you share this personal data with us).
</t><br>
							</td>
							<td>
							<t>For:</t>
							<t>· Send you marketing communications (if you have asked us) that can be tailored to your "profile" based on personal data we know about you and your preferences (including the location of your favorite store);</t>
							</td>
							<td>
							<t>· <strong>Consent</strong></t>
							<t>To send you marketing communications directly</t>
							</td>
							</tr>
							<tr>
							<td>
							<t>·  Execution of analyzes or collection of statistics.
</t>
							</td>
							<td>
							<t>· <strong>Legitimate interest</strong></t>
							<t>To adapt our marketing communications, understand their effectiveness and ensure that you have the most relevant experience; to help us better understand your needs and expectations and therefore improve our services, products and brands.</t>
							</td>
							</tr>
							<tr>
							<td>
							<t>· Maintain an up-to-date deletion list if you have requested not to be contacted; ;</t>
							</td>
							<td>
							<t>· <strong>Legal basis</strong></t>
							<t>To keep your details on a deletion list if you asked us not to send you any direct marketing.
</t>
							</td>
							</tr>
							<tr>
							<td rowspan="2">
							<t><strong>Browse online</strong></t>
							<t>Information collected through cookies or similar technologies ("cookies" *) as part of browsing the APPelle site / applications and / or the site / applications of a third party.
</t><br>
							<t>For information on specific cookies placed on a particular website / application, see the relevant cookie table.
</t><br>
							<t>* Cookies are small text files stored on your device (computer, tablet or mobile) when you are on the Internet, including on the sites of the APPelle group
</t>
							</td>
							<td rowspan="2">
							<t>Depending on how much you interact with us, this data may include:</t>
							<t>·  Data regarding your use of our websites / applications:
</t><br>
							<t>· Where are you from;</t><br>
							<t>· Authentication details;</t><br>
							<t>· The pages you looked at;</t><br>
							<t>· Videos you've watched;</t><br>
							<t>· The ads you click or place your cursor on;</t><br>
							<t>· The products you are looking for;</t><br>
							<t>· Your location;</t><br>
							<t>· Duration of your visit;</t><br><br>
							<t>Technical information:</t><br>
							<t>· IP address;</t><br>
							<t>· Informații legate de browser; </t><br>
							<t>· Device information;</t><br><br>
							<t>A unique identifier granted to each visitor and the expiry date of such an identifier
</t>
							</td>
							<td>
							<t>We use cookies, if necessary, together with other personal data that you have already shared with us (such as previous purchases or if you have subscribed to our e-mail newsletters) or for the following purposes:
</t><br>
							<t>• To allow the proper functioning of our site / applications:</t><br>
							<t>· The correct display of the content, the creation and retention of your authentication data;
</t><br>
							<t>· Interface customization, such as language;
</t><br>
							<t>· Parameters attached to your device, including screen resolution, etc .;</t><br>
							<t>· Improving our sites / applications, for example, by testing new ideas.
 </t><br>
							<t>• To ensure that the site / application is safe and secure and that it protects you against fraud or misuse of our sites or services, for example by performing
funcției de troubleshooting
</t><br>
							<t>• To collect statistics:
</t><br>
							<t>· To avoid double registration of visitors;
</t><br>
							<t>· To know the reaction of users to our advertising campaigns;</t><br>
							<t>· To improve our offers;</t><br>
							<t>· To know how you discovered our websites / applications.</t><br>
							</td>
							<td>
							<t>· <strong>Legitimate interest: </strong></t><br>
							<t>To ensure that we provide you with properly functioning and continuously improving websites / applications, advertising and communications for cookies that are (i) essential to the operation of our websites / applications, (ii) and for keep them safe.</t>
							</td>
							</tr>
							<tr>
							<td>
							<t>• To provide behavioral advertising online: </t><br>
							<t>· To show you online ads for products that may be of interest to you, based on previous behavior;</t><br>
							<t>· To show you ads and content on social platforms.
</t><br>
							<t>• To customize our services for you:
</t><br>
							<t>· Send you recommendations, marketing or content based on your profile and interests;
</t><br>
							<t>· To display our sites / applications in a tailored way such as login reminder, your language, personalized cookies for the user interface (ie the parameters attached to your device, including screen resolution, preference for fonts etc.)</t>
							<br><t>• To allow the distribution of our content on social networking sites (distribution buttons for displaying the site).
</t><br>
							</td>
							<td>
							<t>· <strong>Consent</strong></t>
							<t>For all other cookies.</t>
							</td>
							</tr>
							<tr>
							<td rowspan="2">
							<t><strong>Promotional operations</strong></t>
							<t>Information collected during a game, contests, promotional offers, sample requests, surveys.
</t>
							</td>
							<td rowspan="2">
							<t>Depending on how much you interact with us, this data may include:
</t>
							<t>· Name and surname;</t>
							<t>· Email Address;</t>
							<t>· Număr de telefon;</p>
							<t>· Phone number;</t>
							<t>· Sex;</t>

							<t>· Personal description or preferences;
</t>
							<t>· The data with which you log on to social networking sites (if you share this data with us;</t>
							<t>· Other information you shared with us about you, for example, via the "My Account" page, by contacting us or providing your own content, such as photos or reviews, or a question via the chat feature available on certain sites / applications, or participating in a contest, game, poll).
</t>
							</td>
							<td>
							<t>· To complete the tasks you have asked us to do, for example to manage your participation in contests, games and surveys, including to take into account your feedback and suggestions;
</t>
							<t>· Send you marketing communications (when requested) - by including you in a specific marketing database through which we send you personalized marketing information (based on profiling) by electronic means (e.g. by e-mail). -mail, via SMS, etc., depending on your option)</t>
							</td>
							<td>
							<t>· <strong>Consent</strong></t>
							<t>To send you marketing communications directly or to access your requests.
</t>
							</td>
							</tr>
							<tr>
							<td>
							<p>· For statistical purposes.</p>
							</td>
							<td>
							<p>· <strong>Legitimate interest </strong></p>
							<p>To help us better understand your needs and expectations and therefore improve our services, products and brands
</p>
							</td>
							</tr>
							<tr>
							<td rowspan="2">
							<p><strong>User-generated content</strong></p>
							<p>The information collected when you submitted certain content on a social platform or we accepted the reuse of the content you posted on social media platforms.
</p>
							</td>
							<td rowspan="2">
							<p>Depending on how much you interact with us, this data may include:</p>
							<p>· Name and surname or pseudonym;</p>
							<p>· Email Address;</p>
							<p>· Photography;</p>
							<p>· Personal description or preferences;</p>
							<p>· The data with which you log in on social networking sites (if you share this data with us;
</p>
							<p>· Other information you shared with us about you, for example, via the "My Account" page, by contacting us or providing your own content, such as photos or reviews, or a question via the chat feature available on certain sites / applications).
</p>
							</td>
							<td>
							<p>• In accordance with the specific terms and conditions accepted by you:
</p>
							<p>· To post your review or content;</p>
							<p>· Promoting our products.</p>
							</td>
							<td>
							<p><strong>Consent</strong></p>
							<p>·To use content posted online.
</p>
							</td>
							</tr>
							<tr>
							<td>
							<p>· For statistical purposes.</p>
							</td>
							<td>
							<p>· <strong>Legitimate interest
</strong></p>
							<p>To help us better understand your needs and expectations and therefore improve and promote our services, products and brands.
</p>
							</td>
							</tr>
							<tr>
							</tr>
							<tr>
							<td rowspan="2">
							<p><strong>Use of applications and devices
</strong></p>
							<p>The information collected is part of your use of our applications and / or devices.
</p>
							</td>
							<td rowspan="2">
							<p>Depending on how much you interact with us, this data may include:</p>
							<p>· Name and surname;</p>
							<p>· Email Address;</p>
							<p>· Location;</p>
							<p>· Date of birth;</p>
							<p>·Personal description or preferences;
</p>			
							</td>
							<td>
							<p>For</p>
							<p>· Provide you with the requested service (for example, practical testing of our products, tips and notifications on sun exposure, hair care, etc.);</p>
							<p>· Analyzing the appearance characteristics and recommending the right products (including customized products) and care;
</p>
							<p>· Offering product recommendations and care;</p>
							</td>
							<td>
							<p>· <strong>Fulfilling a contract</strong></p>
							<p>To provide you with the requested service (including, if necessary, analysis by the research and innovation team of the algorithm required to provide the service).</p>
							</td>
							</tr>
							<tr>
							<td>
							<p>· For research and innovation by APPelle scientists;</p>
							<p>· To monitor and improve our applications and devices;
</p>
							<p>· For statistical purposes.</p>
							</td>
							<td>
							<p>· <strong>Legitimate interest
</strong></p>
							<p>To always improve our products and services to meet your needs and expectations and for research and innovation purposes.
</p>
							</td>
							</tr>
							<tr>
							<td rowspan="3">
							<p><strong>Requests</strong></p>
							<p>The information collected when you ask questions (for example, through the customer department) about our brands, products and use.
</p>
							</td>
							<td rowspan="3">
							<p>Depending on how much you interact with us, this data may include:</p>
							<p>· Name and surname;</p>
							<p>· Email Address;</p>
							<p>· Location;</p>
							<p>· Date of birth;</p>
							<p>·Personal description or preferences;
</p>	
							</td>
							
							<td>
							<p>· To be able to answer your questions;</p>
							<p>When necessary, to connect to the relevant services</p>
							</td>
							<td>
							<p>· <strong>Consent
</strong></p>
							<p>To answer your questions</p>
							</td>
							</tr>
							<tr>
							<td>
							<p>· For statistical purposes.</p>
							</td>
							<td>
							<p>· <strong>Legitimate interest
</strong></p>
							<p>To help us better understand the needs and expectations of our customers and therefore improve our services, products and brands.
</p>
							</td>
							</tr>
							<tr>
							<td>
							<p>• For Cosmetovigilance:
 </p>
							<p>· Monitoring and preventing any unwanted effects related to the use of our products;
</p>
							<p>· For conducting studies on the safe use of our products;
</p>
							<p>· To carry out and monitor corrective action taken, where necessary.</p>
							</td>
							<td>
							<p>· <strong>Legal basis</strong></p>
							<p>To comply with the legal obligation to monitor the adverse effects of its products.
</p>
							</td>
							</tr>
							<tr>
							<td>
							<p><strong>Sponsorships</strong></p>
							</td>
							<td>
							<p>Depending on how much you interact with us, this data may include:</p>
							<p>· Name and surname;</p>
							<p>· Email Address;</p>
							<p> Phone number;</p>
							</td>
							<td>
							<p>· To send information about our products.
</p>
							</td>
							<td>
							<p>· <strong>Fulfilling a contract
</strong></p>
							<p>To comply with the request.
</p>
							<p><strong>And</strong></p>
							<p>· <strong>Legitimate interest
</strong></p>
							<p>To contact a person at the request of another person.
</p>
							</td>
							</tr>
							</tbody>
							</table>
							</div>

   </div>
        </div>
        </div>
   </div>


    <div class="footer">
        <div class="footerbar">
        <a href="#Copyright">Copyright @APPelle 2020</a>
		<a href="http://127.0.0.1:5000/terms" class="right">Terms and conditions</a>
		<a href="http://127.0.0.1:5000/personaldata" class="right">Protection of personal data</a>
    </div>
    </div>
</body>
</html>